.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 35%;
    height: 60px;
   /*  border: 1px solid black; */
    box-shadow: 2px 3px 6px rgb(170, 170, 170);
}
input {
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    outline: none;
}
input:focus{
    border-bottom: 1px solid #ff0055;
}
button {
    background: none;
    border: none;
    outline: none;
    margin-left: 5px;
    cursor: pointer;

    font-size: 18px;
    color: #ff0055;
}