.App {
  text-align: center;
}
.btn {
  margin: 20px;
  padding: 5px;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
  padding-inline-start: 0px;

}